@import "tailwindcss";


@font-face {
    font-family: "Roboto";
    src: url("@/assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("@/assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
}


@theme {
    --font-roboto: "Roboto", sans-serif;

    --spacing-padding-default: 1.5rem;
    --height-header-default: 9.5rem;
    --spacing-maxw-default: 69.375rem;


    /* COLORS */
    --color-c-white: #FFFFFF;
    --color-c-black: #000000;

    --color-c-red: #F21515;
    --color-c-green: #15F26E;
    --color-c-yellow: #F2C94C;
    --color-c-orange: #F2994A;

    --color-c-primary-1: #162A41;
    --color-c-primary-2: #FA983A;
    --color-c-primary-3: #A3CB38;
    --color-c-primary-4: #10AC84;

    --color-c-heading-1: #263048;
    --color-c-heading-2: #2A2C30;

    --color-c-body-1: #333333;
    --color-c-body-2: #7B7B7B;
    --color-c-body-3: #D5E0EA;

    --color-c-bg-1: #F8F8FB;
    --color-c-bg-2: #F9FCFF;
    --color-c-bg-3: #25517A;

    --color-c-shape-1: #D3DEE8;
    --color-c-shape-2: #EEF7FF;
    --color-c-shape-3: #33628D;

    --color-c-multiply-1: #33485C;
    --color-c-multiply-2: #51789D;
    --color-c-multiply-3: #465F78;
    --color-c-multiply-4: #444444;
    --color-c-multiply-5: #455463;

    
    /* TEXT BUTTONS */
    --text-button: 1.125rem;
    --text-button--line-height: 1.875rem;
    --text-button--font-weight: 500;


    /* TEXT HEADINGS */
    --text-heading-main: 3.75rem;
    --text-heading-main--line-height: 5rem;
    --text-heading-main--font-weight: 700;

    --text-heading-1: 2.375rem;
    --text-heading-1--line-height: 3.375rem;
    --text-heading-1--font-weight: 700;

    --text-heading-2: 1.875rem;
    --text-heading-2--line-height: 2.625rem;
    --text-heading-2--font-weight: 500;

    --text-heading-3: 1.5rem;
    --text-heading-3--line-height: 2rem;
    --text-heading-3--font-weight: 500;

    --text-heading-4: 1.25rem;
    --text-heading-4--line-height: 1.875rem;
    --text-heading-4--font-weight: 500;

    --text-heading-5: 1rem;
    --text-heading-5--line-height: 1.625rem;
    --text-heading-5--font-weight: 500;


    /* TEXT PARAGRAPHS */
    --text-body-1: 1.125rem;
    --text-body-1--line-height: 1.875rem;
    --text-body-1--font-weight: 400;

    --text-body-2: 1rem;
    --text-body-2--line-height: 1.75rem;
    --text-body-2--font-weight: 400;

    --text-body-3: 0.875rem;
    --text-body-3--line-height: 1.5rem;
    --text-body-3--font-weight: 400;

    --text-body-4: 0.75rem;
    --text-body-4--line-height: 1.25rem;
    --text-body-4--font-weight: 400;

    --text-body-5: 1.5rem;
    --text-body-5--line-height: 2rem;
    --text-body-5--font-weight: 400;

    --text-body-6: 1.25rem;
    --text-body-6--line-height: 1.875rem;
    --text-body-6--font-weight: 500;

    --text-body-italic: 1.25rem;
    --text-body-italic--line-height: 2rem;
    --text-body-italic--font-weight: 400;
    --text-body-italic--font-style: italic;
}

@layer components {
    .heading-main {
        @apply text-heading-main text-c-white
    }
    .heading-1 {
        @apply text-heading-1 text-c-heading-1
    }
    .heading-2 {
        @apply text-heading-2 text-c-heading-2
    }
    .heading-3 {
        @apply text-heading-3 text-c-heading-2
    }
    .heading-4 {
        @apply text-heading-4 text-c-heading-2
    }
    .heading-5 {
        @apply text-heading-5 text-c-heading-2
    }

    .body-1 {
        @apply text-body-1 text-c-body-1
    }
    .body-2 {
        @apply text-body-2 text-c-body-1
    }
    .body-3 {
        @apply text-body-3 text-c-body-1
    }
    .body-4 {
        @apply text-body-4 text-c-body-1
    }
    .body-5 {
        @apply text-body-5 text-c-body-1
    }
    .body-6 {
        @apply text-body-6 text-c-body-1
    }

    .button {
        @apply px-8 inline-block bg-c-primary-1 text-c-white cursor-pointer
    }

    .inset-shadow-default {
        @apply inset-shadow-[0_0_0_1px] inset-shadow-c-shape-1
    }
}

body {
    font-family: var(--font-roboto);
}